.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.828613;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-1.726830px;}
.ls4{letter-spacing:-0.425794px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.022000px;}
.ls2{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-3.665440px;}
.ws1{word-spacing:-0.022000px;}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:1.726830px;}
._0{margin-left:-1.036000px;}
._1{width:1.504800px;}
._2{width:3.592131px;}
._3{width:142.498925px;}
._4{width:2903.533869px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(87,87,86);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:22.000000px;}
.fs6{font-size:23.655200px;}
.fs3{font-size:28.000000px;}
.fs7{font-size:29.161200px;}
.fs4{font-size:36.000000px;}
.fs5{font-size:73.308800px;}
.fs2{font-size:80.000000px;}
.fs0{font-size:200.000000px;}
.y0{bottom:0.000000px;}
.y1d{bottom:25.111300px;}
.y1f{bottom:26.933600px;}
.y20{bottom:28.608681px;}
.y1e{bottom:35.687500px;}
.y3{bottom:58.298400px;}
.y12{bottom:87.550900px;}
.y5{bottom:100.994700px;}
.y11{bottom:104.350900px;}
.y10{bottom:112.750900px;}
.yf{bottom:121.150900px;}
.ye{bottom:129.550900px;}
.yd{bottom:137.950900px;}
.y4{bottom:140.905100px;}
.yc{bottom:146.350900px;}
.yb{bottom:162.520900px;}
.ya{bottom:179.320900px;}
.y9{bottom:196.120900px;}
.y8{bottom:204.520900px;}
.y7{bottom:212.920900px;}
.y6{bottom:225.551300px;}
.y2{bottom:234.309400px;}
.y1c{bottom:584.348500px;}
.y1b{bottom:595.148500px;}
.y1a{bottom:605.948500px;}
.y19{bottom:616.748500px;}
.y18{bottom:627.548500px;}
.y17{bottom:662.189500px;}
.y16{bottom:672.989500px;}
.y15{bottom:683.789500px;}
.y14{bottom:694.589500px;}
.y13{bottom:705.389500px;}
.y1{bottom:734.820100px;}
.h3{height:16.983398px;}
.h8{height:17.221632px;}
.h5{height:20.412000px;}
.h9{height:21.258629px;}
.h6{height:26.244000px;}
.h7{height:53.370811px;}
.h4{height:58.480000px;}
.h2{height:146.200000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.xe{left:62.271500px;}
.x10{left:239.075700px;}
.xf{left:336.751000px;}
.x12{left:434.908200px;}
.x13{left:622.437500px;}
.x7{left:686.715500px;}
.x6{left:711.717500px;}
.xc{left:718.764500px;}
.xb{left:727.719500px;}
.x8{left:759.741500px;}
.x9{left:788.469500px;}
.xd{left:789.954500px;}
.xa{left:825.873500px;}
.x4{left:842.898500px;}
.x2{left:855.376200px;}
.x1{left:860.200800px;}
.x3{left:861.857200px;}
.x5{left:919.111200px;}
.x11{left:1037.700950px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-2.302439pt;}
.ls4{letter-spacing:-0.567725pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.029333pt;}
.ls2{letter-spacing:4.887253pt;}
.ws2{word-spacing:-4.887253pt;}
.ws1{word-spacing:-0.029333pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:2.302439pt;}
._0{margin-left:-1.381333pt;}
._1{width:2.006400pt;}
._2{width:4.789508pt;}
._3{width:189.998566pt;}
._4{width:3871.378492pt;}
.fs1{font-size:29.333333pt;}
.fs6{font-size:31.540267pt;}
.fs3{font-size:37.333333pt;}
.fs7{font-size:38.881600pt;}
.fs4{font-size:48.000000pt;}
.fs5{font-size:97.745067pt;}
.fs2{font-size:106.666667pt;}
.fs0{font-size:266.666667pt;}
.y0{bottom:0.000000pt;}
.y1d{bottom:33.481733pt;}
.y1f{bottom:35.911467pt;}
.y20{bottom:38.144909pt;}
.y1e{bottom:47.583333pt;}
.y3{bottom:77.731200pt;}
.y12{bottom:116.734533pt;}
.y5{bottom:134.659600pt;}
.y11{bottom:139.134533pt;}
.y10{bottom:150.334533pt;}
.yf{bottom:161.534533pt;}
.ye{bottom:172.734533pt;}
.yd{bottom:183.934533pt;}
.y4{bottom:187.873467pt;}
.yc{bottom:195.134533pt;}
.yb{bottom:216.694533pt;}
.ya{bottom:239.094533pt;}
.y9{bottom:261.494533pt;}
.y8{bottom:272.694533pt;}
.y7{bottom:283.894533pt;}
.y6{bottom:300.735067pt;}
.y2{bottom:312.412533pt;}
.y1c{bottom:779.131333pt;}
.y1b{bottom:793.531333pt;}
.y1a{bottom:807.931333pt;}
.y19{bottom:822.331333pt;}
.y18{bottom:836.731333pt;}
.y17{bottom:882.919333pt;}
.y16{bottom:897.319333pt;}
.y15{bottom:911.719333pt;}
.y14{bottom:926.119333pt;}
.y13{bottom:940.519333pt;}
.y1{bottom:979.760133pt;}
.h3{height:22.644531pt;}
.h8{height:22.962177pt;}
.h5{height:27.216000pt;}
.h9{height:28.344838pt;}
.h6{height:34.992000pt;}
.h7{height:71.161081pt;}
.h4{height:77.973333pt;}
.h2{height:194.933333pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.xe{left:83.028667pt;}
.x10{left:318.767600pt;}
.xf{left:449.001333pt;}
.x12{left:579.877600pt;}
.x13{left:829.916667pt;}
.x7{left:915.620667pt;}
.x6{left:948.956667pt;}
.xc{left:958.352667pt;}
.xb{left:970.292667pt;}
.x8{left:1012.988667pt;}
.x9{left:1051.292667pt;}
.xd{left:1053.272667pt;}
.xa{left:1101.164667pt;}
.x4{left:1123.864667pt;}
.x2{left:1140.501600pt;}
.x1{left:1146.934400pt;}
.x3{left:1149.142933pt;}
.x5{left:1225.481600pt;}
.x11{left:1383.601267pt;}
}
